:root{
    --pri-color: hsla(120, 100%, 15%);
    --sec-color: white;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.site{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x:hidden;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    align-items: center;
}

nav{
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--pri-color);
    min-height: 32px;
    padding-inline: 8px;
    color: var(--sec-color);
    z-index: 20;
}

nav .name{
    font-weight: 800;
}

nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    background-color: hsla(120, 100%, 25%);
    top: 32px;
    left: 100%;
    width: 100%;
    height: calc(100vh - 32px);
    list-style: none;
    z-index: 10;
}

nav li{
    font-size: 1.6rem;
}

nav .toggle{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 16px;
    pointer-events: none;
}

nav input{
    display: none;
}

nav input:checked ~ ul{
    left: 0px;
    transition: left 400ms linear;
}

nav label{
    position: absolute;
    top: 0;
    right: 0;
    height: 32px;
    width: 32px;
    background: transparent;
    z-index: 5;
}

.toggle .hamburger {
    width: 16px;
    height: 2px;
    background: var(--sec-color);
    position: relative;
    pointer-events: none;
}

.toggle .hamburger::before,
.toggle .hamburger::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 16px;
    background: var(--sec-color);
}

.toggle .hamburger::before{
    bottom: 6px;
}

.toggle .hamburger::after{
    top: 6px;
}

section{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 12px;
}

.aboutMe h3{
    margin-top: 20px;
    text-align: center;
}

.grid{
    display: grid;
    align-content: center;
    grid-template-columns: 90vw;
    grid-template-rows: repeat(4, 70vw);
    gap: 3vw;
}

.grid > div{
    position: relative;
}

.grid > div img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.grid > div:nth-child(3) img{
    object-position: top left;
}

.grid > div:nth-child(2n) img{
border-top-left-radius: 40px;
border-bottom-right-radius: 40px;
}

.grid > div:nth-child(2n + 1) img{
border-top-right-radius: 40px;
border-bottom-left-radius: 40px;
}

.grid > div h3{
    position: absolute;
    bottom: 32px;
    left: 32px;
    z-index: 3;
}

.grid > div h3::before{
    content: '';
    position: absolute;
    top: -10px;
    left: -32px;
    width: 90vw;
    height: 40px;
    background: hsla(0, 0%, 100%, 0.7);
    z-index: -1;
}


